.topnav {
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.topnav a {
  float: left;
  background-color: #0d1117;
  color: #0d1117;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0d1117;
  color: #0d1117;
}

.topnav a.active {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

body{
  margin: 0;
  padding: 0;
  background: #0d1117;
  background-size: cover;
}
.box{
  border-radius: 90px;
  box-shadow: 0 0 15px 10px #fff;
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color: white;
  font-family: 'Helvetica',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.box h1{
  font-size: 40px;
  letter-spacing: 0px;
  font-weight: 100;
}
.box h5{
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 100;
}
u1{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}